/*
* @Author: Administrator
* @Date:   2015-11-11 21:54:55
* @Last Modified by:   fhc
* @Last Modified time: 2015-11-12 15:08:23
*/


/* cover bootstrap */

a {
    text-decoration: none!important;
}

.cc-nav-icon {
    padding-top: 2px;
}

.cc-nav-icon a {
    color: white;
}


/* config */


/* index 九宫格 */

.cc-selector-list {
    padding: 0;
    border-bottom: 1px solid #ddd;
}

.cc-selector-list a {
    display: block;
    color: #4C4949;
}

.cc-selector-list-item {
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 1.5rem 0 0.5rem 0;
    transition: all 0.3s ease-in-out;
}

.cc-selector-list-item:hover {
    background: #eee;
}

.cc-selector-list-item img {
    width: 46px;
    height: 40px;
    margin-bottom: 0.5rem;
}

.cc-selector-list-item p {
    font-size: 1.6rem;
}


/* userAccount */

.cc-countcard {
    height: 80px;
    line-height: 80px;
    font-size: 1.6rem;
    border-bottom: 1px solid #ddd;
}

.cc-countcard .cc-countcard-item-action>div {
    height: 40px;
    line-height: 40px;
}

.cc-countcard>div {
    float: left;
}

.cc-countcard-item-img,
.cc-countcard-item-name {
    width: 20%;
}

.cc-countcard-item-action {
    width: 60%;
    padding-right: 15px;
}

.cc-img img {
    height: 45px;
}

.cc-userAccount-main {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}


/* userInfo */

.cc-userInfo-main {
    border-top: 1px solid #ddd;
}

.cc-userInfo-main .cc-readable {
    letter-spacing: 0.5rem;
}

.cc-userInfo-main .cc-readable-1 {
    letter-spacing: 0.3rem;
}

.cc-card-list-item.with-avatar {
    height: 90px;
    line-height: 90px;
    border-bottom: 1px solid #ddd;
}

.cc-card-list-item {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #ddd;
}

.cc-card-list-item .cc-title {
    font-size: 1.8rem;
    font-weight: 600;
}

.cc-card-list-item.with-avatar .cc-content {
    height: 90px;
    padding-top: 10px;
}

.cc-card-list-item .cc-content {
    font-size: 1.8rem;
    font-weight: 600;
    color: #ccc;
}

.cc-card-list-item .glyphicon {
    font-size: 1.5rem;
    margin-left: 1rem;
}

.cc-card-list-item .cc-avatar {
    width: 70px;
    height: 70px;
}


/* grey-font-color #4C4949;  orange #ff6600;  pink #ff6349 yellow #ffae29*/

.cc-text-pink {
    color: #ff6349
}

.cc-text-yellow {
    color: #ffae29
}

.cc-nav {
    height: 50px;
    line-height: 50px;
    font-size: 1.8rem;
    text-align: center;
    background: #ff6600;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    overflow: hidden;
    /* clearfix */
}

.cc-btn-pink {
    background: #ff6349!important;
    color: white;
}

.cc-btn-pink:hover,
.cc-btn-pink:focus,
.cc-btn-pink:active:focus,
.cc-btn-pink.active:focus,
.cc-btn-pink.focus,
.cc-btn-pink:active.focus,
.cc-btn-pink.active.focus {
    color: white;
    background: #ff6349!important;
}

.cc-bg-grey {
    background: #f3f3f3!important;
}

.cc-bg-white {
    background: white;
}


/* form */

.cc-form {
    margin-top: 2rem;
    padding-left: 15px;
    padding-right: 15px;
    background: white;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.cc-form .cc-flat-input {
    font-size: 1.6rem;
    display: block;
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #ccc;
    height: 50px;
    line-height: 50px;
}

.cc-form .cc-flat-input:last-child {
    border-bottom: none;
}


/* 找回密码 */

.cc-form-group {
    border-bottom: 1px solid #ccc;
    height: 50px;
    line-height: 50px;
    font-size: 1.6rem;
}

.cc-form-group .col-xs-4 {
    padding-left: 0;
}

.cc-form-group .cc-flat-input {
    height: 49px;
    /* 这里少一px可以防止下边框覆盖 */
}

.cc-form-group:last-child {
    border-bottom: none;
}


/* footer */

.cc-footer-fit {
    height: 90px;
}

.cc-footer {
    background: white;
    height: 70px;
    width: 100%;
    position: fixed!important;
    bottom: 0;
    border-top: 1px solid #ddd;
    padding-top: 0.8rem;
    padding-bottom: 0.3rem;
    z-index: 1000;
}

.cc-footer img {
    width: 35px;
    height: 35px;
    margin-bottom: 0.3rem;
}

.cc-footer p {
    color: #aaa;
    font: 2rem;
}
