/*
* @Author: Administrator
* @Date:   2015-11-11 21:54:55
* @Last Modified by:   Administrator
* @Last Modified time: 2015-11-14 10:56:55
*/


/* cover bootstrap */

a {
    text-decoration: none!important;
}

.cc-nav-icon {
    padding-top: 2px;
}

.cc-nav-icon a {
    color: white;
}


/* config */


/* index 九宫格 */

.cc-selector-list {
    padding: 0;
    border-bottom: 1px solid #ddd;
}

.cc-selector-list a {
    display: block;
    color: #4C4949;
}

.cc-selector-list-item {
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 1.5rem 0 0.5rem 0;
    transition: all 0.3s ease-in-out;
}

.cc-selector-list-item:hover {
    background: #eee;
}

.cc-selector-list-item img {
    width: 46px;
    height: 40px;
    margin-bottom: 0.5rem;
}

.cc-selector-list-item p {
    font-size: 1.6rem;
}


/* userAccount */

.cc-countcard {
    height: 80px;
    line-height: 80px;
    font-size: 1.6rem;
    border-bottom: 1px solid #ddd;
}

.cc-countcard .cc-countcard-item-action>div {
    height: 40px;
    line-height: 40px;
}

.cc-countcard>div {
    float: left;
}

.cc-countcard-item-img,
.cc-countcard-item-name {
    width: 20%;
}

.cc-countcard-item-action {
    width: 60%;
    padding-right: 15px;
}

.cc-img img {
    height: 45px;
}

.cc-userAccount-main {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}


/* userInfo */

.cc-userInfo-main {
    border-top: 1px solid #ddd;
}

.cc-userInfo-main .cc-readable {
    letter-spacing: 0.5rem;
}

.cc-userInfo-main .cc-readable-1 {
    letter-spacing: 0.3rem;
}

.cc-card-list-item.with-avatar {
    height: 90px;
    line-height: 90px;
    border-bottom: 1px solid #ddd;
}

.cc-card-list-item {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #ddd;
}

.cc-card-list-item .cc-title {
    font-size: 1.8rem;
    font-weight: 600;
}

.cc-card-list-item.with-avatar .cc-content {
    height: 90px;
    padding-top: 10px;
}

.cc-card-list-item .cc-content {
    font-size: 1.8rem;
    font-weight: 600;
    color: #ccc;
}

.cc-card-list-item .glyphicon {
    font-size: 1.5rem;
    margin-left: 1rem;
}

.cc-card-list-item .cc-avatar {
    width: 70px;
    height: 70px;
}


/* transmissionChains */

.cc-card-list {
    border-top: 1px solid #ddd;
}

.cc-tc-user {
    border-bottom: 1px solid #ddd;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    height: 80px;
}

.cc-tc-user .cc-avatar-2 {
    height: 50px;
}

.cc-tc-user .username {
    font-size: 2rem;
    font-weight: 600;
}

.cc-tc-user .userid {
    font-size: 1.5rem;
}

.cc-tc-user .glyphicon {
    padding-top: 15px;
    color: #bbb;
}

.cc-tc-fans .col-xs-6 {
    text-align: center;
    border-right: 1px solid #ddd;
    padding-top: 1rem;
    font-size: 1.8rem;
    color: #bbb;
}

.cc-tc-fans .col-xs-6 span {
    margin-bottom: 0.5rem;
}

.cc-tc-icons {
    width: 40px;
    height: 40px;
}

.cc-card-list-item .cc-avatar-2 {
    height: 60px;
    line-height: 60px;
    margin-top: 5px;
}


/* promote myPromote */

.cc-promote-nav {
    background: #F7F7F7;
    /* 这是特殊的灰色 */
    border-bottom: 1px solid #ddd;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}

.cc-promote-nav img {
    width: 40px;
    height: 40px;
}

.cc-promote-nav .btn-group {
    margin: 0 auto;
}

.cc-promote-nav .btn-group .btn {
    padding-bottom: 0.5rem;
    border-color: #4C4949;
}

.cc-promote-nav .btn-group .btn.active {
    background: #4C4949;
    color: white;
}

.cc-promote-card {
    background: white;
    border-bottom: 1px solid #ddd;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.cc-promote-card:first-child {
    border-top: 1px solid #ddd;
}

.cc-promote-card .cc-promote-time {
    color: #aaa;
    margin-bottom: 1rem;
}

.cc-promote-card .cc-promote-img {
    width: 50px;
    height: 50px;
    float: right;
}

.cc-promote-card .cc-promote-share {
    font-size: 1.6rem;
    color: #aaa;
}

.cc-promote-card .cc-promote-note {
    font-size: 1.7rem;
    padding-left: 0;
    color: #4C4949;
}

.cc-promote-card .share-point {
    font-size: 1.6rem;
    margin-top: 1rem;
    color: #ff6600;
    margin-left: 1rem;
}

.cc-promote-card .cc-share-btn {
    padding: 0.1rem 0.3rem;
    font-size: 1.6rem;
    color: #aaa;
    border: 1px solid #4C4949;
    border-radius: 4px;
}

.cc-promote-card .cc-share-btn img {
    width: 1.6rem;
    height: 1.6rem;
    margin-top: -0.2rem;
}


/* myPromote的用户头像信息 */

.cc-promote-user {
    height: 55px;
    border-bottom: 1px solid #eee;
    margin-bottom: 1rem;
    overflow: hidden;
    margin-left: 1.5rem;
    margin-top: -3px;
}

.cc-promote-user .col-xs-3 {
    margin-left: -2rem;
    margin-right: 0;
}

.cc-promote-user .col-xs-9 {
    padding-left: 1rem;
}

.cc-promote-user .cc-promote-username {
    font-size: 2rem;
    padding-top: 10px;
}


/* community search-bar */

.cc-search-bar {
    padding: 1rem;
    border-bottom: 1px solid #ddd;
}

.cc-search-bar {
    padding: 1rem;
    border-bottom: 1px solid #ddd;
}

.cc-search-bar button {
    bottom: 0;
    color: #aaa;
}

.cc-search-bar .col-xs-6 {
    padding-left: 0;
    padding-right: 0;
    margin-left: -2px;
    margin-top: -2px;
}

.cc-search-bar button,
.cc-search-bar .input-group * {
    border: none;
}

.cc-search-bar .col-xs-3:last-child {
    padding-left: 1.1rem;
}


/* comminity */

.cc-com-card {
    padding-top: 1rem;
    overflow: hidden;
}

.cc-com-card:last-child {
    padding-bottom: 1rem;
}

.card-list-img {
    width: 33%;
    float: left;
    padding: 1px;
}

.cc-com-card-title {
    text-align: center;
    position: relative;
    overflow: hidden;
    margin-bottom: 1rem;
}

.cc-com-card-title hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.cc-com-card-title span {
    position: absolute;
    width: 50px;
    background: white;
    margin-left: -25px;
    top: 0;
    font-size: 1.6rem;
}

.color-pink {
    color: #F05CE9;
}

.color-blue {
    color: #428bca;
}


/* grey-font-color #4C4949;  orange #ff6600;  pink #ff6349 yellow #ffae29*/

.cc-text-orange {
    color: #ff6600
}

.cc-text-pink {
    color: #ff6349
}

.cc-text-yellow {
    color: #ffae29
}

.cc-nav {
    height: 50px;
    line-height: 50px;
    font-size: 1.8rem;
    text-align: center;
    background: #ff6600;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    overflow: hidden;
    /* clearfix */
}

.cc-btn-pink {
    background: #ff6349!important;
    color: white;
}

.cc-btn-pink:hover,
.cc-btn-pink:focus,
.cc-btn-pink:active:focus,
.cc-btn-pink.active:focus,
.cc-btn-pink.focus,
.cc-btn-pink:active.focus,
.cc-btn-pink.active.focus {
    color: white;
    background: #ff6349!important;
}

.cc-bg-grey {
    background: #f3f3f3!important;
}

.cc-bg-white {
    background: white;
}


/* form */

.cc-form {
    margin-top: 2rem;
    padding-left: 15px;
    padding-right: 15px;
    background: white;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.cc-form .cc-flat-input {
    font-size: 1.6rem;
    display: block;
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #ccc;
    height: 50px;
    line-height: 50px;
}

.cc-form .cc-flat-input:last-child {
    border-bottom: none;
}


/* 找回密码 */

.cc-form-group {
    border-bottom: 1px solid #ccc;
    height: 50px;
    line-height: 50px;
    font-size: 1.6rem;
}

.cc-form-group .col-xs-4 {
    padding-left: 0;
}

.cc-form-group .cc-flat-input {
    height: 49px;
    /* 这里少一px可以防止下边框覆盖 */
}

.cc-form-group:last-child {
    border-bottom: none;
}


/* footer */

.cc-footer-fit {
    height: 90px;
}

.cc-footer {
    background: white;
    height: 70px;
    width: 100%;
    position: fixed!important;
    bottom: 0;
    border-top: 1px solid #ddd;
    padding-top: 0.8rem;
    padding-bottom: 0.3rem;
    z-index: 1000;
}

.cc-footer img {
    width: 35px;
    height: 35px;
    margin-bottom: 0.3rem;
}

.cc-footer p {
    color: #aaa;
    font: 2rem;
}
